<h2>Add Volunteer</h2>
<div>
  <div>First Name: <input type='text' [(ngModel)]=first_name></div><br>
  <div>Last Name: <input type='text' [(ngModel)]=last_name></div><br>
  <div>UWO id: <input type='text' [(ngModel)]=uwo_id> @uwo.ca</div><br>
  <div>State (optional): <select id=volunteerTWO [(ngModel)]="m_disabled" class="ui dropdown">
    <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
  </select></div><br>
</div>

<div>
  <br>
  <button (click)="submit()" type="button" class="ui green button">Add Volunteer</button>
  <button routerLink='/volunteer-list' type="button" class="ui red button">Cancel</button>
</div>

<div>
  <br>
  <p>
    {{errorMsg}}
  </p>
</div>
