<button routerLink='/add-request'>Add new request</button>
<h2>Requests</h2>
<button (click)="getFPrequests()">getRequests</button>
<table>
  <tr>
    <th>Request ID</th>
    <th>Name</th>
    <th>From</th>
    <th>To</th>
    <th>Additional Info</th>
    <th>Time</th>
    <th>Complete</th>
  </tr>

  <tr *ngFor="let request of displayRequests">
    <td>{{request.id}}</td>
    <td>{{request.name}}</td>
    <td>{{request.from_location}}</td>
    <td>{{request.to_location}}</td>
    <td>{{request.additional_info}}</td>
    <td>{{request.timestamp}}</td>
    <td><input type="checkbox" (change)="archive(request)" [(ngModel)]="request.archived"></td>
  </tr>
</table>
