
<h2>Edit Pair {{pair.id}}</h2>
<div>
  <div>State: {{pairState}} <select id=pairState [(ngModel)]="pairState" class="ui dropdown">
    <option value='Active'>Active</option>
    <option value='Inactive'>Inactive</option>
  </select></div><br>
  <div>Volunteer 1: {{pair.volunteers[0].first_name}} {{pair.volunteers[0].last_name}} <br>
  <div>Volunteer 2: {{pair.volunteers[1].first_name}} {{pair.volunteers[1].last_name}} <br>
</div>

<div>
  <br>
  <button (click)="updatePair()" type="button" class="ui green button">Update</button>
  <button routerLink='/volunteer-list' type="button" class="ui red button">Cancel</button>
</div>
