
<h2>Add a Request</h2>

<div>
  Name:<br>
  <input type="text" id="name" class="ui input"><br>
  Walk from (required):<select id=walkFrom [(ngModel)]="walkFrom" class="ui dropdown">
    <option> --- </option>
    <option *ngFor="let location of locations" [ngValue]="location">{{location.location}}</option>
  </select><br>
  Walk to (required):<select id=walkTo [(ngModel)]="walkTo" class="ui dropdown">
    <option> --- </option>
    <option *ngFor="let location of locations" [ngValue]="location">{{location.location}}</option>
  </select><br>
  Additional information:<br>
  <input type="text" id="additionalInfo" class="ui input"><br>
</div>

<div>
  <br>
  <button (click)="submitReq()" type="button" class="ui green button">Submit</button>
  <button routerLink='/request-list' type="button" class="ui red button">Cancel</button>
</div>

<div>
  <br>
  <p>
    {{errorMsg}}
  </p>
</div>
